stages: [test, build]

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

test:
  stage: test
  image: golang:1.22.6-bookworm
  script:
    - cd app
    - go test ./...

docker_build:
  stage: build
  image: docker:27
  services:
    - name: docker:27-dind
      command: ["--tls=false"]
  script:
    - docker build -f docker/Dockerfile --build-arg COMMIT="$CI_COMMIT_SHORT_SHA" --build-arg BUILD_TIME="$CI_PIPELINE_CREATED_AT" -t ci-supplychain-playground:$CI_COMMIT_SHORT_SHA .